@import "./vars";
@import "./functions";
@import "./fonts";

@import "./colors";
@import "./components";

@import "./utils";
@import "./text";
@import "./shadow";
@import "./space";
@import "./row";
@import "./border";

.container {
  width: 992px;
  max-width: 90%;
  margin: auto;
}

body {
  margin: 0;
  line-height: 1.1;
  font-family: "Roboto", sans-serif;
}
